@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="true">
  <Found>
    <RouteView />
  </Found>
  <NotFound>
    <LayoutView>
      <p>Page not found.</p>
    </LayoutView>
  </NotFound>
</Router>
